@tailwind base;
@tailwind components;
@tailwind utilities;


/* Style the custom scrollbar */
::-webkit-scrollbar {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 10px;
    background-color: #f5f5f5;
    z-index: 9999;
}

::-webkit-scrollbar-track {
    background-color: #242424;
}

::-webkit-scrollbar-thumb {
    background-color: #787878;
    border-radius: 10px;
}